<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: azure ;
        }
    </style>
</head>
<body>
    <h1>What is progressive tax?</h1>
    <p>explain here</p>
    <center>
        <img src="https://i.ibb.co/txy3dpG/AP.jpg" width="500px" height="350px",> 
    </center>
     <h1>List contribution</h1>
     <p>Kurniawan Bagaskara/L200214253</p>
     <p>make html code and others</p>
     <p>Ferdinand Bima Anggara/L200214113</p>
     <p>css editing and finishing</p>
     <p>Fachry Ahsan Al Musawa/L200214269</p>
     <p>designing diagrams</p>
     <a href="{% url 'utama' %}">Home</a>
</body>
</html>
